In [1]:
import pandas as pd
import numpy as np
import pickle
import json
import ast

In [2]:
movies=pd.read_csv('DataSets/movies_metadata.csv')

/home/abuzar/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ratings=pd.read_csv('DataSets/ratings.csv')

In [4]:
ratings=ratings[0:98923]

In [5]:
ratings['rating'].loc[ratings['rating']==(2.0)].values

array([2., 2., 2., ..., 2., 2., 2.])

In [6]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [7]:
Name_list=movies['title']

In [8]:
Name_list=Name_list.to_list()

In [9]:
Rating_table=pd.DataFrame(columns=Name_list)

In [10]:
ratings.head(5)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [11]:
User_list=ratings['userId'].to_list()

In [12]:
UniqueUsers=list(set(User_list))

In [13]:
Movie_id_list=ratings['movieId'].to_list()

In [14]:
UniqueMovie=list(set(Movie_id_list))

In [15]:
movie_name=[]
unique_index=[]
for i in range (0,len (UniqueMovie)):
    val=movies.loc[movies['id']==UniqueMovie[i]]
    val2=val['original_title'].values
    if (len(val2)!=0):
        movie_name.append(val2[0])
        unique_index.append(UniqueMovie[i])

In [16]:
Unique_Movie = open('uniquemovie.pkl', 'wb')
pickle.dump(movie_name, Unique_Movie)

In [17]:
Rate_list=np.zeros((len(UniqueUsers),len(movie_name)))

In [26]:
index=np.zeros(len(UniqueUsers),dtype=np.int64)

In [19]:
for i in range (0,len(UniqueUsers)):
    index[i]=i+1

In [20]:
for i in range (0,len(ratings)):
    found=False
    index1=-1
    for j in range (0,len(unique_index)):
        if (ratings['movieId'].iloc[i]==unique_index[j]):
            index1=j
            found=True
            break
    if found==True:
        index=ratings['userId'].iloc[i]-1
        Rate_list[index][index1]=ratings['rating'].iloc[i]

In [27]:
Users = open('User.pkl', 'wb')
pickle.dump(index, Users)

In [22]:
MovieList=open('MovieListCF.pkl', 'wb')
pickle.dump(movie_name, MovieList)

In [25]:
RateList = open('RateList.pkl', 'wb')
pickle.dump(Rate_list, RateList)